.navbar-ul-list{
    display: flex;
    list-style-type: none;
}
.li{
    margin: 30px;
    margin-left: auto;
    display: flex;
}
li{
    margin-left: 15px;
}
button{
    border-width: 0px;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
}
.img-logo{
    width: 160px;
    height: 70px;
}

@media screen and (max-width:767px) {
    .img-logo{
        display: none;
    }
    .li{
        margin-left: 0px;
    }

    button{
        border: 1px solid gray;
        border-radius: 5px;
        padding: 8px;
    }
}